<div class="w-full bg-gray-950 h-screen flex">
  <div class="w-[70px] h-full bg-gray-950"></div>
  <div class="w-2/6 h-full bg-slate-800">
    <div class="w-full h-[100px] bg-slate-800 flex justify-center items-center">
      <div
        class="w-4/5 h-auto flex justify-center items-center rounded-2xl bg-slate-600"
      >
        <img
          src="/assets/search.png"
          alt="search icon"
          class="w-[25px] h-[25px]"
        />
        <input
          class="w-5/6 py-3 px-6 rounded-2xl bg-slate-600 outline-none border-0 text-gray-300 font-sans"
          type="text"
          placeholder="Search"
        />
      </div>
    </div>
  </div>
</div>
