<div class="bg-slate-50 w-full h-screen box-border relative">
  <app-navbar></app-navbar>
  <div
    class="w-full max-w-7xl mx-auto min-h-auto flex overflow-hidden max-[768px]:flex-col min-[1300px]:justify-center"
  >
    <div class="w-1/2 h-auto px-10 pt-4 max-[768px]:w-full min-[1300px]:w-full">
      <h1
        class="text-almostWhite text-7xl w-74 leading-snug bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text"
      >
        Hang out anytime, anywhere
      </h1>
      <p class="font-mono text-lg text-slate-950 mt-4">
        Chat Bunker makes it easy and fun to stay close to your favorite people.
      </p>
      <form
        [formGroup]="form"
        (submit)="onSubmit()"
        class="flex flex-col w-5/6 mt-4 h-60 max-[768px]:w-full"
      >
        <input
          type="email"
          name="email"
          placeholder="Email ddress or phone number"
          formControlName="email"
          class="my-2 outline-none border border-0 rounded-xl py-2 px-3 bg-almostWhite font-bold font-mono max-[768px]:w-full"
        />
        <span
          class="text-red-500 text-[12px] font-sans font-bold"
          *ngIf="form.controls.email.touched && form.controls.email.invalid"
          >Please enter a valid Email</span
        >
        <input
          type="password"
          name="password"
          placeholder="password"
          formControlName="password"
          class="my-2 outline-none border-none rounded-xl py-2 px-3 bg-almostWhite font-bold font-mono max-[768px]:w-full"
        />
        <div
          class="flex flex-col justify-between w-full h-auto items-left max-[768px]:flex-col"
        >
          <button
            [disabled]="form.invalid"
            (click)="onSubmit()"
            class="flex items-center justify-center bg-blue-600 text-slate-50 p-3 w-2/4 rounded-3xl mt-4 font-bold ease-in duration-300 max-[768px]:w-full hover:bg-blue-900"
          >
            <svg
              *ngIf="loading"
              class="animate-spin h-[20px] w-[20px] mr-3 ..."
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
            <span *ngIf="!loading"> Login</span>
          </button>
          <p
            class="underline decoration-blue-600 font-mono-font-bold text-slate-950 cursor-pointer max-[768px]:mt-2"
          >
            Forgot password?
          </p>
        </div>
      </form>
    </div>
    <div
      class="w-1/2 h-full flex justify-center max-[768px]:w-full min-[1300px]:h-5/5 w-full"
    >
      <img
        src="/assets/chat-history-image.png"
        alt="chat history image"
        width="450"
        height="400"
      />
    </div>
  </div>
  <app-footer></app-footer>
</div>
